body {
    background-color: #21233D;
}

main {
    display: flex;
}

header {
    color: #EEEACC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.canvas {
    background-color: #EEEACC;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.row {
    display: flex;
    flex: 0 1 auto;
    width: fit-content;
}

.pixel {
    border-style: solid;    
    border-width: 1px;
    width: 2rem;
    height: 2rem;
}

.controls {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.controls button {
    margin-bottom: 0.2rem;
}

